<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krking"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/icon_228"
        android:label="경마왕"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroActivity"
            android:label="경마왕"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="경마왕"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".PredictionContentActivity"
            android:label="@string/title_activity_prediction_content"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".SMSTopDetailActivity"
            android:label="@string/title_activity_smstop_detail"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".HorseRaceResultDetailActivity"
            android:label="@string/title_activity_horse_race_result_detail"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".TermsNContractActivity"
            android:label="@string/title_activity_terms_ncontract" >
        </activity>
        <activity
            android:name=".ShowkingActivity"
            android:configChanges="orientation|screenSize"
            android:label="쇼킹"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".ProgramListActivity"
            android:label="@string/title_activity_program_list"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name=".DawnActivity"
            android:label="@string/title_activity_dawn"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".PaperDetailActivity"
            android:label="@string/title_activity_paper_detail"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".PaperViewDetailActivity2"
            android:label="@string/title_activity_paper_view_detail_activity2"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".FreeboardContentActivity"
            android:label="@string/title_activity_freeboard_content"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".FreeboardCommentsActivity"
            android:label="@string/title_activity_freeboard_comments"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".FreeboardWriteCommentActivity"
            android:label="@string/title_activity_freeboard_write_comment"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".FreeboardWritePostActivity"
            android:label="@string/title_activity_freeboard_write_post"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>

</manifest>